In [19]:
import pandas as pd
import json

In [52]:
csv_class = r"D:\Desktop\Project_file\韩国\dataset_class.csv"
csv_ori = r"D:\Desktop\Project_file\韩国\原始格式.csv"
csv_new = r"D:\Desktop\Project_file\韩国\最新格式.csv"
df_class = pd.read_csv(csv_class)
df_ori = pd.read_csv(csv_ori)
df_new = pd.read_csv(csv_new)

In [57]:
json.loads(df_ori.iloc[0]['class_attributes'])

{'attrs': {},
 'center3D': {'x': -2.836516269410351,
  'y': 2.733307494454738,
  'z': 0.7424912452697754},
 'checked': False,
 'classType': 'Car',
 'confidence': 0.8077035546302795,
 'frontId': '195900120',
 'id': '060886BE-6638-45A9-8FBD-F9D0F689ED82',
 'invisibleFlag': False,
 'isProjection': False,
 'isStandard': False,
 'modelClass': 'Car',
 'modelRun': '180089',
 'modelRunLabel': '20221108034849',
 'objType': '3d',
 'pointN': 2396,
 'points': [],
 'resultStatus': 'True_value',
 'resultType': '',
 'rotation3D': {'x': 0, 'y': 0, 'z': 0.8589227199554443},
 'size3D': {'x': 3.9855421786154324,
  'y': 1.8476606577151813,
  'z': 1.6685552597045898},
 'trackId': 'wtgvqI2NTuLWV9XT',
 'trackName': '1',
 'uuid': '195900120',
 'viewIndex': 0}

In [69]:
df_new.iloc[0]

id                                                                     419
team_id                                                              90104
dataset_id                                                          120186
data_id                                                             540099
version                                                                1.0
source_type                                                      DATA_FLOW
source_id                                                               41
validity                                                             VALID
classification_values                                                   []
objects                  [{"classId": "201385", "classValues": [{"alias...
created_at                                             2022-12-09 02:02:39
created_by                                                           90102
updated_at                                             2022-12-09 09:27:15
updated_by                                                             NaN
Name: 0, dtype: object

In [48]:
list(set(df['data_id']))[0]

540099

In [68]:
c = df_class[(df_class['dataset_id'] == 120186)]
c.iloc[0][['name','attributes']]

name                                                        Car
attributes    [{"id": "f359e99e-d98b-4306-8639-22a65ed2eab0"...
Name: 261, dtype: object

In [66]:
c

,id,team_id,dataset_id,name,color,tool_type,tool_type_options,attributes,is_deleted,created_at,created_by,updated_at,updated_by
261,201385,90104.0,120186,Car,#f39c12,CUBOID,"{""height"": [null, null], ""isConstraints"": fals...","[{""id"": ""f359e99e-d98b-4306-8639-22a65ed2eab0""...",0,2022-09-20 01:55:44,90102,NaN,NaN
262,201386,90104.0,120186,Van,#2ecc71,CUBOID,"{""defaultHeight"": """", ""isConstraints"": false, ...","[{""id"": ""dcd302ef-2b88-492b-954f-88406067caa0""...",0,2022-09-20 01:55:44,90102,NaN,NaN
263,201387,90104.0,120186,Truck,#d1ccc0,CUBOID,"{""defaultHeight"": """", ""isConstraints"": false, ...","[{""id"": ""9c83bdc1-8014-490a-a4f0-65e798783529""...",0,2022-09-20 01:55:44,90102,NaN,NaN

In [55]:
d = c.iloc[0]
d

id                                                          195900299
team_id                                                         90104
dataset_id                                                     120186
task_id                                                           NaN
batch_id                                                          NaN
project_id                                                        NaN
data_id                                                        540099
class_id                                                          NaN
source                                                          MODEL
model_run_id                                                 180089.0
model_class_name                                                  Car
visible_type                                                      NaN
model_confidence                                             0.883436
class_attributes    {"center3D": {"x": -13.985993934930777, "y": 9...
created_at                                        2022-11-08 03:48:57
created_by                                                      90102
updated_at                                                        NaN
updated_by                                                        NaN
Name: 162, dtype: object

In [17]:
a = df.iloc[0]['attributes']
a

'[{"id": "31eb5de9-063b-4ddf-9426-a2a4d1c8fa78", "name": "是否遮挡？", "options": [{"attributes": [{"id": "c027317f-844e-4260-9ba0-a949ee3af9b2", "name": "遮挡比例？", "options": [{"attributes": [], "id": "d0bdae04-48f8-4d9b-af56-55f98d13c341", "name": "10% ~ 30%"}, {"attributes": [], "id": "d6841f98-48f0-4a77-a3d2-2557e069f4a6", "name": "40% ~ 60%"}, {"attributes": [], "id": "3be37852-64e2-4912-b81f-da8b48bb2a1b", "name": "60% ~ 90%"}], "required": true, "type": "RADIO"}], "id": "9f3f578d-0412-4c32-92d2-a29a535129ec", "name": "是"}, {"attributes": [], "id": "4e9e38a8-4c3a-48eb-bb17-53713255c961", "name": "否"}], "required": true, "type": "RADIO"}]'

In [37]:
b = json.loads(d)
b

[{'id': 'f359e99e-d98b-4306-8639-22a65ed2eab0',
  'name': 'Occlusion',
  'options': [{'attributes': [],
    'id': '5a302fb9-e3ba-495f-9831-b3898294d554',
    'name': 'Yes'},
   {'attributes': [],
    'id': 'b3b384fa-1620-4fa4-bd47-b0e82238b7bb',
    'name': 'No'}],
  'required': False,
  'type': 'RADIO'},
 {'id': '64b4b2ad-c83f-4f7f-98bc-8627c0bd2cbe',
  'name': 'Confidence',
  'options': [{'attributes': [],
    'id': 'c7191eb9-693e-4194-a848-81b989694fae',
    'name': 'High'},
   {'attributes': [],
    'id': 'fac24de0-034e-4c1a-a7bb-fcf94d2bc2fe',
    'name': 'Medium'},
   {'attributes': [],
    'id': 'c5fcc2da-6459-4ccb-8e42-9a7d68c81f2d',
    'name': 'Low'}],
  'required': False,
  'type': 'RADIO'}]

In [25]:
b['options']

[{'attributes': [{'id': 'c027317f-844e-4260-9ba0-a949ee3af9b2',
    'name': '遮挡比例？',
    'options': [{'attributes': [],
      'id': 'd0bdae04-48f8-4d9b-af56-55f98d13c341',
      'name': '10% ~ 30%'},
     {'attributes': [],
      'id': 'd6841f98-48f0-4a77-a3d2-2557e069f4a6',
      'name': '40% ~ 60%'},
     {'attributes': [],
      'id': '3be37852-64e2-4912-b81f-da8b48bb2a1b',
      'name': '60% ~ 90%'}],
    'required': True,
    'type': 'RADIO'}],
  'id': '9f3f578d-0412-4c32-92d2-a29a535129ec',
  'name': '是'},
 {'attributes': [], 'id': '4e9e38a8-4c3a-48eb-bb17-53713255c961', 'name': '否'}]

In [ ]:
obj = {
        "classId": "201385",
        "classValues": [
            {
                "alias": "",
                "id": "f359e99e-d98b-4306-8639-22a65ed2eab0",
                "isLeaf": true,
                "name": "",
                "value": "No"
            },
            {
                "alias": "",
                "id": "64b4b2ad-c83f-4f7f-98bc-8627c0bd2cbe",
                "isLeaf": true,
                "name": "",
                "value": "High"
            }
        ],
        "contour": {
            "center3D": {
                "x": -13.985993934930777,
                "y": 9.282877771446682,
                "z": 0.5724581182003021
            },
            "pointN": 466,
            "points": [],
            "rotation3D": {
                "x": 0,
                "y": 0,
                "z": -2.3066487312316895
            },
            "size3D": {
                "x": 4.305268414854595,
                "y": 1.616233427608904,
                "z": 1.519332468509674
            },
            "viewIndex": 0
        },
        "createdAt": "2022-12-09T01:56:02Z",
        "createdBy": 90102,
        "id": "6dd2b46b-317d-4317-864b-ff8a7a3a2ac6",
        "meta": {
            "checked": false,
            "invisibleFlag": false,
            "isProjection": false,
            "isStandard": false,
            "resultStatus": "True_value",
            "resultType": "",
            "valid": true
        },
        "modelClass": "Car",
        "modelConfidence": 0.8834354877471924,
        "trackId": "rHGMZZ8JNmGl9vPj",
        "trackName": "1",
        "type": "3D_BOX",
        "version": 1
    }

In [ ]:
"""
1、根据data_id筛选同一data_id的结果，按新格式合到一起
2、根据原结果标签和属性转新classId和classValues值
3、
"""
# 建立标签和data

# 建立类别id映射关系
class_name_id_mapping = {}
class_sql = '''

'''
# 属性名id映射关系
attr_id_mapping = {}

In [ ]:
def filter_v(data_frame, filter_name, filter_match, target_match):
    obj = data_frame[(data_frame[filter_name] == filter_match)]

In [74]:
import pandas as pd
import sqlalchemy

engine = sqlalchemy.create_engine('mysql+pymysql://basicai:mP3L0S93@nlb.alidev.beisai.com:4000/basicai_dataset')

sql='''
select * from data_annotation_object where data_id=90001
'''
df = pd.read_sql(sql,engine)
df

,id,team_id,dataset_id,task_id,batch_id,project_id,data_id,class_id,source,model_run_id,model_class_name,visible_type,model_confidence,class_attributes,created_at,created_by,updated_at,updated_by
0,120001,90001,90001,None,None,None,90001,None,MODEL,90001,Car,VISIBLE,0.877712,"{""center3D"": {""x"": 3.8259239196777344, ""y"": -4...",2022-06-16 16:45:29,90002,None,None
1,120002,90001,90001,None,None,None,90001,None,MODEL,90001,Car,VISIBLE,0.809361,"{""center3D"": {""x"": -5.7676239013671875, ""y"": -...",2022-06-16 16:45:29,90002,None,None
2,120003,90001,90001,None,None,None,90001,None,MODEL,90001,Car,VISIBLE,0.789691,"{""center3D"": {""x"": 4.392696380615234, ""y"": -8....",2022-06-16 16:45:29,90002,None,None
3,120004,90001,90001,None,None,None,90001,None,MODEL,90001,Car,VISIBLE,0.771229,"{""center3D"": {""x"": -5.78436279296875, ""y"": -11...",2022-06-16 16:45:29,90002,None,None
4,120005,90001,90001,None,None,None,90001,None,MODEL,90001,Car,VISIBLE,0.768763,"{""center3D"": {""x"": -5.656208038330078, ""y"": -1...",2022-06-16 16:45:29,90002,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,155326,90001,90001,None,None,None,90001,None,MODEL,90018,Bus,VISIBLE,0.719180,"{""center3D"": {""x"": 24.408462524414062, ""y"": -5...",2022-06-22 14:41:01,90002,None,None
243,155327,90001,90001,None,None,None,90001,None,MODEL,90018,Car,VISIBLE,0.647509,"{""center3D"": {""x"": 9.759876251220703, ""y"": 0.7...",2022-06-22 14:41:01,90002,None,None
244,155328,90001,90001,None,None,None,90001,None,MODEL,90018,Car,VISIBLE,0.608678,"{""center3D"": {""x"": -6.504322052001953, ""y"": -3...",2022-06-22 14:41:01,90002,None,None
245,155329,90001,90001,None,None,None,90001,None,MODEL,90018,Car,VISIBLE,0.518763,"{""center3D"": {""x"": 4.673072814941406, ""y"": -13...",2022-06-22 14:41:01,90002,None,None
246,155330,90001,90001,None,None,None,90001,None,MODEL,90018,Car,VISIBLE,0.500222,"{""center3D"": {""x"": 8.829166412353516, ""y"": -3....",2022-06-22 14:41:01,90002,None,None