In [20]:
import pandas as pd
import sqlalchemy
from datetime import datetime

In [15]:

engine = sqlalchemy.create_engine('mysql+pymysql://basicai:mP3L0S93@nlb.alidev.beisai.com:4000/basicai_dataset')

data_annotation_object_sql='''
select * from data_annotation_object where team_id=90168 AND dataset_id=90404 AND data_id=1323525
'''

In [16]:
df = pd.read_sql(data_annotation_object_sql,engine)
df.iloc[0:10]

,id,team_id,dataset_id,task_id,batch_id,project_id,data_id,class_id,source,model_run_id,model_class_name,visible_type,model_confidence,class_attributes,created_at,created_by,updated_at,updated_by
0,21480084,90168,90404,None,None,None,1323525,202387,ARTIFICIAL,None,None,VISIBLE,None,"{""attrs"": {}, ""center3D"": {""x"": 155.4502100033...",2022-10-18 07:35:43,120178,None,None
1,25320116,90168,90404,None,None,None,1323525,202387,ARTIFICIAL,None,None,VISIBLE,None,"{""attrs"": {}, ""center3D"": {""x"": 0, ""y"": 0, ""z""...",2022-10-19 05:25:49,120140,None,None
2,25320117,90168,90404,None,None,None,1323525,202387,ARTIFICIAL,None,None,VISIBLE,None,"{""attrs"": {}, ""center3D"": {""x"": 0, ""y"": 0, ""z""...",2022-10-19 05:25:49,120140,None,None
3,8070181,90168,90404,None,None,None,1323525,232387,ARTIFICIAL,None,None,VISIBLE,None,"{""attrs"": {}, ""center3D"": {""x"": -99.0447895072...",2022-10-14 00:49:22,120179,None,None
4,8400001,90168,90404,None,None,None,1323525,202391,ARTIFICIAL,None,None,VISIBLE,None,"{""attrs"": {}, ""center3D"": {""x"": 52.09448980726...",2022-10-14 01:34:26,120178,None,None
5,8400002,90168,90404,None,None,None,1323525,202391,ARTIFICIAL,None,None,VISIBLE,None,"{""attrs"": {}, ""center3D"": {""x"": 0, ""y"": 0, ""z""...",2022-10-14 01:34:26,120178,None,None
6,8400003,90168,90404,None,None,None,1323525,202391,ARTIFICIAL,None,None,VISIBLE,None,"{""attrs"": {}, ""center3D"": {""x"": 0, ""y"": 0, ""z""...",2022-10-14 01:34:26,120178,None,None
7,8400004,90168,90404,None,None,None,1323525,232387,ARTIFICIAL,None,None,VISIBLE,None,"{""attrs"": {}, ""center3D"": {""x"": 62.90803125046...",2022-10-14 01:34:26,120178,None,None
8,8400005,90168,90404,None,None,None,1323525,202387,ARTIFICIAL,None,None,VISIBLE,None,"{""attrs"": {}, ""center3D"": {""x"": 94.27998738919...",2022-10-14 01:34:26,120178,None,None
9,8400006,90168,90404,None,None,None,1323525,202387,ARTIFICIAL,None,None,VISIBLE,None,"{""attrs"": {}, ""center3D"": {""x"": 105.9578568231...",2022-10-14 01:34:26,120178,None,None

In [24]:
csv_class = r"D:\Desktop\Project_file\韩国\dataset_class.csv"
df_class = pd.read_csv(csv_class)
df_class = df_class[(df_class['dataset_id'] == 90404)]
df_class

,id,team_id,dataset_id,name,color,tool_type,tool_type_options,attributes,is_deleted,created_at,created_by,updated_at,updated_by
997,202387,90168.0,90404,vehicle,#FF85FF,CUBOID,"{""height"": [null, null], ""isConstraints"": fals...",[],0,2022-10-13 01:22:29,120140,2022-10-18 04:41:07,120140.0
998,202388,90168.0,90404,motorcycle,#BD9424,CUBOID,"{""height"": [null, null], ""isConstraints"": fals...",[],0,2022-10-13 01:25:00,120140,2022-10-18 04:42:39,120140.0
999,202389,90168.0,90404,twoWheeler,#E3C4FF,CUBOID,"{""height"": [null, null], ""isConstraints"": fals...",[],0,2022-10-13 01:25:45,120140,2022-10-18 04:43:15,120140.0
1000,202390,90168.0,90404,pedestrian,#0100FF,CUBOID,"{""height"": [null, null], ""isConstraints"": fals...",[],0,2022-10-13 01:26:06,120140,2022-10-18 04:43:35,120140.0
1001,202391,90168.0,90404,trafficSign,#FFFFB3,CUBOID,"{""height"": [null, null], ""isConstraints"": fals...",[],0,2022-10-13 01:26:40,120140,2022-10-18 04:44:14,120140.0
1089,202479,90168.0,90404,ambulance,#FFFFFF,CUBOID,"{""height"": [null, null], ""isConstraints"": fals...",[],0,2022-10-17 03:52:25,120140,2022-10-18 04:41:57,120140.0
1090,202480,90168.0,90404,schoolBus,#F8B500,CUBOID,"{""height"": [null, null], ""isConstraints"": fals...",[],0,2022-10-17 03:52:50,120140,2022-10-18 04:42:19,120140.0
5599,232386,90168.0,90404,bus,#7DAB12,CUBOID,"{""height"": [null, null], ""isConstraints"": fals...",[],0,2022-10-13 01:23:23,120140,2022-10-18 04:41:16,120140.0
5600,232387,90168.0,90404,truck,#41FF3A,CUBOID,"{""height"": [null, null], ""isConstraints"": fals...",[],0,2022-10-13 01:23:40,120140,2022-10-18 04:41:24,120140.0
5601,232388,90168.0,90404,otherCar,#BFFFB8,CUBOID,"{""height"": [null, null], ""isConstraints"": fals...",[],0,2022-10-13 01:24:30,120140,2022-10-18 04:42:29,120140.0
5602,232389,90168.0,90404,bicycle,#FFFF48,CUBOID,"{""height"": [null, null], ""isConstraints"": fals...",[],0,2022-10-13 01:25:25,120140,2022-10-18 04:42:56,120140.0
5603,232390,90168.0,90404,trafficLight,#00DFC5,CUBOID,"{""height"": [null, null], ""isConstraints"": fals...",[],0,2022-10-13 01:27:22,120140,2022-10-18 04:44:32,120140.0
5751,232539,90168.0,90404,policeCar,#9928B8,CUBOID,"{""height"": [null, null], ""isConstraints"": fals...",[],0,2022-10-17 03:52:07,120140,2022-10-18 04:41:36,120140.0

In [26]:
class_name_id_mapping = {}
for x in df_class.iloc:
    k = x['name']
    v = x['id']
    class_name_id_mapping[k] = v
class_name_id_mapping

{'vehicle': 202387,
 'motorcycle': 202388,
 'twoWheeler': 202389,
 'pedestrian': 202390,
 'trafficSign': 202391,
 'ambulance': 202479,
 'schoolBus': 202480,
 'bus': 232386,
 'truck': 232387,
 'otherCar': 232388,
 'bicycle': 232389,
 'trafficLight': 232390,
 'policeCar': 232539}

In [ ]:
"""
1、根据data_id筛选同一data_id的结果，按新格式合到一起
2、根据原结果标签和属性转新classId和classValues值
3、
"""
# 建立标签和data

# 建立类别id映射关系
class_name_id_mapping = {}
class_sql = '''

'''
# 属性名id映射关系
attr_id_mapping = {}

In [ ]:
objects = []
for boxes in df.iloc:




obj = {
        "classId": "201385",
        "classValues": [
            {
                "alias": "",
                "id": "f359e99e-d98b-4306-8639-22a65ed2eab0",
                "isLeaf": true,
                "name": "",
                "value": "No"
            },
            {
                "alias": "",
                "id": "64b4b2ad-c83f-4f7f-98bc-8627c0bd2cbe",
                "isLeaf": true,
                "name": "",
                "value": "High"
            }
        ],
        "contour": {
            "center3D": {
                "x": -13.985993934930777,
                "y": 9.282877771446682,
                "z": 0.5724581182003021
            },
            "pointN": 466,
            "points": [],
            "rotation3D": {
                "x": 0,
                "y": 0,
                "z": -2.3066487312316895
            },
            "size3D": {
                "x": 4.305268414854595,
                "y": 1.616233427608904,
                "z": 1.519332468509674
            },
            "viewIndex": 0
        },
        "createdAt": "2022-12-09T01:56:02Z",
        "createdBy": 90102,
        "id": "6dd2b46b-317d-4317-864b-ff8a7a3a2ac6",
        "meta": {
            "checked": false,
            "invisibleFlag": false,
            "isProjection": false,
            "isStandard": false,
            "resultStatus": "True_value",
            "resultType": "",
            "valid": true
        },
        "modelClass": "Car",
        "modelConfidence": 0.8834354877471924,
        "trackId": "rHGMZZ8JNmGl9vPj",
        "trackName": "1",
        "type": "3D_BOX",
        "version": 1
    }

In [ ]:
objects =

In [3]:
import time
import logging


# 64位ID的划分
WORKER_ID_BITS = 5
DATACENTER_ID_BITS = 5
SEQUENCE_BITS = 12

# 最大取值计算
MAX_WORKER_ID = -1 ^ (-1 << WORKER_ID_BITS)  # 2**5-1 0b11111
MAX_DATACENTER_ID = -1 ^ (-1 << DATACENTER_ID_BITS)

# 移位偏移计算
WOKER_ID_SHIFT = SEQUENCE_BITS
DATACENTER_ID_SHIFT = SEQUENCE_BITS + WORKER_ID_BITS
TIMESTAMP_LEFT_SHIFT = SEQUENCE_BITS + WORKER_ID_BITS + DATACENTER_ID_BITS

# 序号循环掩码
SEQUENCE_MASK = -1 ^ (-1 << SEQUENCE_BITS)

# Twitter元年时间戳
TWEPOCH = 1288834974657


logger = logging.getLogger('flask.app')


class IdWorker(object):
    """
    用于生成IDs
    """

    def __init__(self, datacenter_id, worker_id, sequence=0):
        """
        初始化
        :param datacenter_id: 数据中心（机器区域）ID
        :param worker_id: 机器ID
        :param sequence: 其实序号
        """
        # sanity check
        if worker_id > MAX_WORKER_ID or worker_id < 0:
            raise ValueError('worker_id值越界')

        if datacenter_id > MAX_DATACENTER_ID or datacenter_id < 0:
            raise ValueError('datacenter_id值越界')

        self.worker_id = worker_id
        self.datacenter_id = datacenter_id
        self.sequence = sequence

        self.last_timestamp = -1  # 上次计算的时间戳

    def _gen_timestamp(self):
        """
        生成整数时间戳
        :return:int timestamp
        """
        return int(time.time() * 1000)

    def get_id(self):
        """
        获取新ID
        :return:
        """
        timestamp = self._gen_timestamp()

        # 时钟回拨
        if timestamp < self.last_timestamp:
            logging.error('clock is moving backwards. Rejecting requests until {}'.format(self.last_timestamp))
            raise

        if timestamp == self.last_timestamp:
            self.sequence = (self.sequence + 1) & SEQUENCE_MASK
            if self.sequence == 0:
                timestamp = self._til_next_millis(self.last_timestamp)
        else:
            self.sequence = 0

        self.last_timestamp = timestamp

        new_id = ((timestamp - TWEPOCH) << TIMESTAMP_LEFT_SHIFT) | (self.datacenter_id << DATACENTER_ID_SHIFT) | \
                 (self.worker_id << WOKER_ID_SHIFT) | self.sequence
        return new_id

    def _til_next_millis(self, last_timestamp):
        """
        等到下一毫秒
        """
        timestamp = self._gen_timestamp()
        while timestamp <= last_timestamp:
            timestamp = self._gen_timestamp()
        return timestamp

In [8]:
worker = IdWorker(1, 2, 0)
worker.get_id()

1602231527805165568

In [19]:
dat = [{
    "id": 31212,
    "team_id": 90168,
    "serial_number": worker.get_id(),
    "file_url": None,
    "file_name": None,
    "error_message": None,
    "total_file_size": None,
    "downloaded_file_size": None,
    "total_data_num": None,
    "parsed_data_num": None,
    "status": None,
    "created_at": datetime.now().strftime('%Y-%m-%d %H:%M:%S'),
    "created_by": None,
    "updated_at": None,
    "updated_by": None
}]
data = pd.DataFrame(dat)

data.to_sql('upload_record', con=engine,index=False,if_exists='append')

Exception during reset or similar
Traceback (most recent call last):
  File "C:\Users\EDY\AppData\Local\Programs\Python\Python39\lib\site-packages\pymysql\connections.py", line 732, in _read_bytes
    data = self._rfile.read(num_bytes)
  File "C:\Users\EDY\AppData\Local\Programs\Python\Python39\lib\socket.py", line 704, in readinto
    return self._sock.recv_into(b)
TimeoutError: [WinError 10060] 由于连接方在一段时间后没有正确答复或连接的主机没有反应，连接尝试失败。

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\EDY\AppData\Local\Programs\Python\Python39\lib\site-packages\sqlalchemy\pool\base.py", line 757, in _finalize_fairy
    fairy._reset(pool, transaction_was_reset)
  File "C:\Users\EDY\AppData\Local\Programs\Python\Python39\lib\site-packages\sqlalchemy\pool\base.py", line 1016, in _reset
    pool._dialect.do_rollback(self)
  File "C:\Users\EDY\AppData\Local\Programs\Python\Python39\lib\site-packages\sqlalchemy\engine\default.py", line 683, in do_rollback
    dbapi_connection.rollback()
  File "C:\Users\EDY\AppData\Local\Programs\Python\Python39\lib\site-packages\pymysql\connections.py", line 480, in rollback
    self._read_ok_packet()
  File "C:\Users\EDY\AppData\Local\Programs\Python\Python39\lib\site-packages\pymysql\connections.py", line 443, in _read_ok_packet
    pkt = self._read_packet()
  File "C:\Users\EDY\AppData\Local\Programs\Python\Python39\lib\site-packages\pymysql\connections.py", line 692, in _read_packet
    packet_header = self._read_bytes(4)
  File "C:\Users\EDY\AppData\Local\Programs\Python\Python39\lib\site-packages\pymysql\connections.py", line 738, in _read_bytes
    raise err.OperationalError(
pymysql.err.OperationalError: (2013, 'Lost connection to MySQL server during query ([WinError 10060] 由于连接方在一段时间后没有正确答复或连接的主机没有反应，连接尝试失败。)')

1

In [23]:
dataset_result_source_write = {
    "id": [61212],
    "team_id": [90168],
    "dataset_id": [90404],
    "result_name": ['zsh_test'],
    "source_id": [31212],
    "source_type": ['EXTERNAL_GROUND_TRUTH'],
    "created_at": [datetime.now().strftime('%Y-%m-%d %H:%M:%S')],
    "created_by": [31212],
    "updated_at": None,
    "updated_by": None
}
data_result_source = pd.DataFrame(dataset_result_source_write)

data_result_source.to_sql('dataset_result_source', con=engine,index=False,if_exists='append')

1

In [ ]:
data_annotation_result_write = {
    "id": [],
    "team_id": [90168],
    "dataset_id": [90404],
    "data_id": [1323525],
    "version": [1.0],
    "source_type": ['EXTERNAL_GROUND_TRUTH'],
    "source_id": [61212],
    "validity": ['UNKNOWN'],
    "classification_values": None,
    "objects": [],
    "created_at": [datetime.now().strftime('%Y-%m-%d %H:%M:%S')],
    "created_by": [31212],
    "updated_at": [datetime.now().strftime('%Y-%m-%d %H:%M:%S')],
    "updated_by": None
}
data_annotation_result = pd.DataFrame(data_annotation_result_write)

data_annotation_result.to_sql('data_annotation_result', con=engine,index=False,if_exists='append')

In [ ]:
data_annotation_object_sql='''
select * from data_annotation_object where team_id=90168 AND dataset_id=90404 AND data_id=1323525
'''